// font weight
$font-weight-regular: 400;
$font-weight-medium: 500;
$font-weight-bold: 700;

// color
$white: #f4f9f4;
$white-1: #e1ede7;
$white-2: #c6d9d4;
$white-3: #fefefc;
$white-4: #f3f9f3;
$white-5: #fff;

$green: #6c9894;
$green-1: #a7d7c5;
$green-2: #bed2ce;
$green-4: #6b9793;

$black-1: #444;

// font-sizes

$font-size-title: 75px;
$font-size-description: 30px;

$font-size-link: 21px;
$font-size-button: 25px;
