.about-trainer {
  @include backgroundImage("../assets/images/about-trainer-bg.png");

  &__wrapper {
    @extend .container;
    padding: 76px 0 194px 0;
    text-align: center;
    color: $green;
    font-size: 58px;
  }

  &__image {
    @include size(400px);
    @include backgroundImage("../assets/svg/border-3.svg");
    @include flex-center;
    margin: 0 auto 24px auto;

    img {
      @include size(326px);
      @include circle;
      border: 4px solid $green;
    }
  }

  &__description {
    @include font-style("Montserrat");
    margin-bottom: 65px;
  }

  &__name {
    @include font-style("Baloo Bhai");
  }
}
