.experience {
  @include backgroundImage("../assets/images/experience-bg.png");

  &__wrapper {
    @extend .container;
    @include flex;
    padding: 108px 0 74px;
    color: $green;
  }

  &__image {
    width: 740px;

    img {
      @include size(578px, auto);
      margin: 0 auto;
    }
  }

  &__intro {
    flex: 1;
    padding: 180px 0 0 85px;
  }

  &__title {
    @include font-style("Baloo Bhai", 75px);
    width: 300px;
    margin-bottom: 56px;
  }

  &__description {
    @include font-style("Montserrat", 30px);
    margin-bottom: 60px;
  }

  &__button {
    @include font-style("Baloo Bhai", 25px, $white);
    padding: 0 96px;
    text-transform: uppercase;
    line-height: 66px;
    background-color: $green-4;
    display: inline-block;
  }
}
