.footer {
  background-color: $white;

  &__wrapper {
    @extend .container;
    @include flex;
    color: $green;
    padding: 155px 0 135px;
  }

  &__about {
    width: 620px;
    padding: 0 30px 0 20px;

    &-content {
      @include font-style("Montserrat", 25px);
    }
  }

  &__title {
    @include font-style("Baloo Bhai", 33px);
    margin-bottom: 36px;
  }

  &__menu {
    flex: 1;
    padding: 0 16px;

    &-item {
      margin-bottom: 8px;
    }

    &-link {
      @include font-style("Myriad Pro", 25px, $green);
      line-height: 44px;
      text-transform: capitalize;
    }

    &-icon {
      @include size(31px);
      @include circle;
      display: inline-flex;
      justify-content: center;
      align-items: center;
      background-color: $green;
      color: $white;
      font-size: 20px;
      padding-top: 3px;
      margin: 0 30px 0 5px;
    }
  }
}
