.our-stats {
  @include backgroundImage("../assets/images/our-stats-bg.png");
  $root: &;

  &__wrapper {
    @extend .container;
    padding: 106px 0 210px;
    text-align: center;
    color: $green;
  }

  &__title {
    @include font-style("Baloo Bhai", 75px);
    text-transform: uppercase;
  }

  &__description {
    @include font-style("Montserrat", 30px);
    width: 786px;
    margin: 62px auto 132px;
  }

  &__list {
    @include flex-content-between;
  }

  &__list-item {
    @include size(320px);
    @include circle;
    @include flex-center;
    padding: 24px;
    border: 5px solid $green;

    #{$root}__count {
      @include font-style("Baloo Bhai", 67px);
    }

    #{$root}__info {
      @include font-style("Montserrat", 27px);
    }
  }
}
