.header {
  $root: &;

  &__wrapper {
    @extend .container;
    position: relative;
    display: flex;
    justify-content: flex-end;
    padding: 42px 0 26px;
  }

  &__logo {
    width: 110px;
    height: 130px;
    position: absolute;
    top: 0;
    left: 30px;
    background-color: $green-1;

    a {
      @extend .flex-center;
      width: 100%;
      height: 100%;

      img {
        display: block;
        width: 75%;
      }
    }
  }

  &__menu {
    display: flex;
    justify-content: flex-end;
    width: calc(100% - 140px);
    background-color: $white-1;
    padding-right: 20px;

    &-item {
      margin-right: 50px;

      &--active {
        #{$root}__menu-link {
          background-color: $white-2;
        }
      }
    }

    &-link {
      @extend .font-baloo-bhai;
      font-size: $font-size-link;
      color: $black-1;
      text-transform: uppercase;
      display: block;
      line-height: 46px;
      padding: 0 30px 0 20px;
    }
  }
}

.banner {
  $root: &;
  position: relative;

  &__wrapper {
    @extend .container;
    display: flex;
    padding-bottom: 205px;
  }

  &__image {
    padding-left: 84px;

    #{$root}__content {
      @extend .flex-center;
      width: 653px;
      height: 653px;
      background: url("../assets/svg/banner-avatar-border.svg") no-repeat center;
      background-size: cover;
      position: relative;

      img {
        width: 379px;
        height: 379px;
        border-radius: 50%;
        border: 4px solid $green-2;
      }
    }
  }

  &__intro {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 232px 100px 0 34px;
    text-align: center;
  }

  &__title {
    @extend .font-baloo-bhai;
    font-size: 90px;
    color: $green;
  }

  &__description {
    @extend .font-montserrat;
    font-size: $font-size-link;
    color: $green;
    line-height: 1.1;
    width: 550px;
    margin-bottom: 30px;
  }

  &__link {
    @extend .font-lato;
    font-size: 17px;
    color: $white-3;
    font-weight: 700;
    text-transform: uppercase;
    border-radius: 10px;
    display: block;
    background-color: $green;
    line-height: 31px;
    padding: 0 24px;
  }

  &::after {
    width: 653px;
    height: 653px;
    position: absolute;
    top: calc(100% - (653px / 2));
    right: calc(0% - (653px / 2));
    background: url("../assets/svg/bg.svg") no-repeat center;
    background-size: cover;
    content: "";
    display: block;
    opacity: 0.4;
  }
}

.choose-class {
  background-color: $green;

  &__wrapper {
    @extend .container;
    padding: 130px 0 120px;
    text-align: center;
    color: $white;
  }

  &__title {
    @extend .text-title;
    text-transform: capitalize;
  }

  &__description {
    @extend .text-description;
    width: 790px;
    margin: 0 auto;
  }

  &__list {
    display: flex;
    justify-content: space-between;
    margin-top: 16px;
  }

  &__item {
    width: 385px;
  }

  &__image {
    @extend .flex-center;
    width: 385px;
    height: 381px;
    background: url("../assets/svg/border-2.svg") no-repeat center;
    background-size: cover;

    img {
      width: 314px;
      height: 314px;
      border-radius: 50%;
      object-fit: cover;
    }
  }

  &__name {
    font-size: 37px;
    text-transform: uppercase;
    margin: 16px 0 32px;
  }

  &__info {
    @extend .font-montserrat;
    font-size: 22px;
  }
}

.our-stats {
  $root: &;
  background: url("../assets/images/our-stats-bg.png") no-repeat center;
  background-size: cover;

  &__wrapper {
    @extend .container;
    padding: 106px 0 210px;
    text-align: center;
    color: $green;
  }

  &__title {
    @extend .text-title;
    text-transform: uppercase;
  }

  &__description {
    @extend .text-description;
    width: 786px;
    margin: 62px auto 132px;
  }

  &__list {
    display: flex;
    justify-content: space-between;
  }

  &__list-item {
    @extend .flex-center;
    width: 320px;
    height: 320px;
    border-radius: 50%;
    padding: 24px;
    border: 5px solid $green;

    #{$root}__count {
      @extend .font-baloo-bhai;
      font-size: 67px;
    }

    #{$root}__info {
      @extend .font-montserrat;
      font-size: 27px;
    }
  }
}

.instructor {
  background-color: $green;

  &__wrapper {
    @extend .container;
    display: flex;
    color: $white;
  }

  &__intro {
    flex: 1;
  }

  &__title {
    @extend .text-title;
    margin: 256px 0 30px;
    width: 80%;
  }

  &__description {
    @extend .text-description;
    margin-bottom: 56px;
  }

  &__button {
    @extend .font-baloo-bhai;
    font-size: $font-size-button;
    color: $green;
    padding: 0 96px;
    display: inline-block;
    background-color: $white-4;
    line-height: 66px;
    border-radius: 4px;
  }

  &__image {
    width: 700px;
    height: 970px;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}

.experience {
  padding: 108px 0 74px;
  background: url("../assets/images/experience-bg.png") no-repeat center;
  background-size: cover;

  &__wrapper {
    @extend .container;
    display: flex;
    color: $green;
  }

  &__image {
    width: 740px;

    img {
      width: 578px;
      height: auto;
      margin: 0 auto;
    }
  }

  &__intro {
    flex: 1;
    padding: 180px 0 0 85px;
  }

  &__title {
    @extend .text-title;
    width: 300px;
    margin-bottom: 56px;
  }

  &__description {
    @extend .text-description;
    margin-bottom: 60px;
  }

  &__button {
    @extend .font-baloo-bhai;
    font-size: $font-size-button;
    color: $white;
    padding: 0 96px;
    text-transform: uppercase;
    line-height: 66px;
    background-color: $green-4;
    display: inline-block;
    border-radius: 4px;
  }
}

.pricing {
  background: url("../assets/images/pricing-bg.png") no-repeat center;
  background-size: cover;

  &__wrapper {
    @extend .container;
    padding: 120px 0 100px;
    text-align: center;
    color: $white;
  }

  &__title {
    @extend .text-title;
    margin-bottom: 48px;
    text-transform: capitalize;
  }

  &__description {
    @extend .text-description;
    max-width: 790px;
    margin: 0 auto 48px auto;
  }

  &__list-package {
    display: flex;
    justify-content: space-between;
  }

  &__package {
    width: 370px;
    background-color: $white-4;
    padding: 25px;
    border-radius: 8px;
    color: $green;

    &-title,
    &-price {
      @extend .font-baloo-bhai;
      font-size: 37px;
      text-transform: uppercase;
    }

    &-title {
      margin-bottom: 26px;
    }

    &-price {
      margin-bottom: 28px;
    }

    &-image {
      width: 115px;
      height: auto;
      margin: 0 auto 50px auto;
    }

    &-info {
      @extend .font-montserrat;
      font-size: 22px;
      margin-bottom: 30px;
    }

    &-button {
      @extend .font-baloo-bhai;
      font-size: $font-size-button;
      color: $white-5;
      background-color: $green-4;
      display: block;
      padding: 19px 0;
      text-transform: uppercase;
      border-radius: 4px;
    }
  }
}

.about-trainer {
  background: url("../assets/images/about-trainer-bg.png") no-repeat center;
  background-size: cover;

  &__wrapper {
    @extend .container;
    padding: 76px 0 194px 0;
    text-align: center;
    color: $green;
    font-size: 58px;
  }

  &__image {
    @extend .flex-center;
    width: 400px;
    height: 400px;
    background: url("../assets/svg/border-3.svg") no-repeat center;
    background-size: cover;
    margin: 0 auto 24px auto;

    img {
      width: 326px;
      height: 326px;
      border-radius: 50%;
      border: 4px solid $green;
    }
  }

  &__description {
    @extend .font-montserrat;
    margin-bottom: 65px;
  }

  &__name {
    @extend .font-baloo-bhai;
  }
}

.subscribe-email {
  background-color: $green;
  color: $white;

  &__wrapper {
    @extend .container;
    padding: 140px 0 214px;
    text-align: center;
  }

  &__title {
    @extend .text-title;
    margin-bottom: 60px;
  }

  &__description {
    @extend .text-description;
    max-width: 790px;
    margin: 0 auto 20px auto;
  }

  &__form {
    max-width: 775px;
    margin: 0 auto;
    position: relative;

    .form-input {
      @extend .font-montserrat;
      font-size: $font-size-button;
      color: $green;
      display: block;
      width: 100%;
      padding: 18px 30px;
      border-radius: 26px;
      text-transform: capitalize;
      border: none;
      outline: none;
      background-color: $white-5;
    }

    .form-button {
      @extend .font-baloo-bhai;
      font-size: $font-size-button;
      color: $green;
      position: absolute;
      top: 0;
      right: 0;
      display: block;
      padding: 13px 54px;
      border-radius: 26px;
      border: none;
      outline: none;
      box-shadow: none;
      background-color: $white-4;
      cursor: pointer;
      text-transform: capitalize;
    }
  }
}

.footer {
  background-color: $white;

  &__wrapper {
    @extend .container;
    display: flex;
    color: $green;
    padding: 155px 0 135px;
  }

  &__about {
    width: 620px;
    padding: 0 30px 0 20px;

    &-content {
      @extend .font-montserrat;
      font-size: 25px;
    }
  }

  &__title {
    @extend .font-baloo-bhai;
    font-size: 33px;
    margin-bottom: 36px;
  }

  &__menu {
    flex: 1;
    padding: 0 16px;

    &-item {
      margin-bottom: 8px;
    }

    &-link {
      @extend .font-myriad;
      font-size: 25px;
      color: $green;
      line-height: 44px;
      text-transform: capitalize;
    }

    &-icon {
      width: 31px;
      height: 31px;
      border-radius: 50%;
      display: inline-flex;
      justify-content: center;
      align-items: center;
      background-color: $green;
      color: $white;
      font-size: 20px;
      padding-top: 3px;
      margin: 0 30px 0 5px;
    }
  }
}
